/*================================
=            Custom              =
================================*/

.home-content {
    background-color: #fff;
    color: #222;
}

.why {
    margin: 0;
    padding: 40px;
    font-size: 34px;
    text-align: center;
}

.enlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.how {
    font-size: 26px;
    text-align: center;
}

.what {
    padding: 20px;
    font-size: 22px;
    text-align: center;
}

.comienza {
    padding: 40px 20px 0;
    text-align: center;
    font-size: 24px;
}

.cta-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.cta-btn {
    border: 1px solid #222;
    font-size: 1.1em;
    padding: 12px;
}

.cta-btn:hover {
    background-color: #bc2143;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 1.1px solid black;
}

.site-footer .wrap {
    // padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home #genesis-footer-widgets {
    margin-top: -32px;
}

.footer-widgets,
.footer-widgets a,
.widgettitle {
    background: #334345;
    color: #fff;
}

li.cat-item a {
    background-color: #bc2143;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    padding: 5px 12px;
    text-transform: uppercase;
    border-bottom: none;
    transition: background-color 0.2s, color 0.2s;
}

.footer-widgets-2 ul li,
.footer-widgets-3 ul li {
    list-style-type: none;
}

.widget-title {
    padding-left: 35px;
    margin-bottom: 15px;
}

#text-3 ul li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: raw;
    justify-content: flex-start;
    border-bottom: none;
    margin-top: 20px;
}

#text-3 span {
    font-size: 42px;
    margin: -5px 30px 2px 0;
}

.archive-description {
    background-color: #ababab;
    border: none;
    text-align: center;
}

.archive .site-inner {
    padding: 0;
    margin: 0;
    max-width: none;
}

h1.archive-title {
    padding: 40px 0;
}

article.entry {
    margin: 20px;
    padding: 20px 40px;
}

.breadcrumb {
    font-size: 16px;
    margin: 0 30px -5px;
    color: #001f3f;
}

.blog .site-inner {
    padding: 0;
    margin: 0;
    max-width: none;
}

.blog .breadcrumb {
    display: none;
}
