/*================================
=            Custom              =
================================*/

.home-content {
    color: #222;
    background-color: #fff;
}

.why {
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 34px;
}

.enlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.how {
    text-align: center;
    font-size: 26px;
}

.what {
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

.comienza {
    padding: 40px 20px 0;
    text-align: center;
    font-size: 24px;
}

.cta-principal {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
}

.cta-btn {
    padding: 12px;
    border: 1px solid #222;
    font-size: 1.1em;
}

.cta-btn:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border-bottom: 1.1px solid black;
    background-color: #3D6DB5;
}

.site-footer .wrap {
    // padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home #genesis-footer-widgets {
    margin-top: 0;
}

.footer-widgets,
.footer-widgets a,
.widgettitle {
    color: #fff;
    background: #334345;
}

.archive-description {
    text-align: center;
    border: none;
    background-color: #ababab;
}

.blog .site-inner,
.archive .site-inner {
    max-width: none;
    margin: 0;
    padding: 0;
}

h1.archive-title {
    padding: 40px 0;
}

article.entry {
    margin: 20px;
    padding: 20px 40px;
}

.breadcrumb {
    margin: 0 30px -5px;
    color: #001f3f;
    font-size: 16px;
}

.blog .breadcrumb {
    display: none;
}
